 	  <div class="jumbotron" >
		<div class='container-fluid' ng-controller="tagsTypeAhead">
			<div class="row">
			  <div class="col-md-4"></div>
		      <div class="col-xs-12 col-md-4">
			    <input type="text" ng-model="tagsSelected"  placeholder="Search keywords..." 
			    	uib-typeahead="tagPart for tagPart in getTags($viewValue)" typeahead-loading="loadingTags" typeahead-no-results="noResults" 
			    	typeahead-on-select="addToTagList($item, $model, $label)" class="form-control">
			    <i ng-show="loadingTags" class="glyphicon glyphicon-refresh"></i>
			    <div ng-show="noResults">
			      <i class="glyphicon glyphicon-remove"></i>No Results Found
			    </div>
		      </div>
			  <div class="col-md-4"></div>
			</div>		
			<div class="row">
			  <div class="col-md-2"></div>
			  <div class="col-md-8">
				<a ui-sref="login.search.tags" class="ng-hide"></a>
			    <div ui-view></div>
			  </div>
			  <div class="col-md-2"></div>
			</div>		
		</div>
      </div>