<div ng-show="authenticated">
	<nav class="navbar navbar-default">
		<form class="navbar-form navbar-left" role="form" ng-submit="logout()">
		  <div class="navbar-header">
		    <a class="navbar-brand" href="#">Brand</a>
		  </div>
		  <div class="form-group">
	  		<button type="submit" class="btn btn-default">Logout</button>
		  </div>
		</form>
	</nav>
 	<div class="jumbotron">
		<div class='container-fluid typeahead-searchTags' ng-controller="tagsTypeAhead">
		    <input type="text" ng-model="tagSelected" placeholder="Search keywords.." uib-typeahead="" typeahead-loading="loadingTags" typeahead-no-results="noTagResults" class="form-control">
		    <i ng-show="loadingTags" class="glyphicon glyphicon-refresh"></i>
		    <div ng-show="noTagResults">
		      <i class="glyphicon glyphicon-remove"></i> No Results Found
		    </div>
		</div>
      </div>
    </div>
</div>