<div ng-show="authenticated">
	<nav class="navbar navbar-default">
		<form class="navbar-form navbar-left" role="form" ng-submit="logout()">
		  <div class="navbar-header">
		    <a class="navbar-brand" href="#">Brand</a>
		  </div>
		  <div class="form-group">
	  		<button type="submit" class="btn btn-default">Logout</button>
		  </div>
		</form>
	</nav>
 	<div class="jumbotron">
		<div class='container-fluid typeahead-demo' ng-controller="tagsTypeAhead">
			<div class="row">
			  <div class="col-md-4"></div>
			  <div class="col-md-4">
			    <input type="text" ng-model="tagsSelected" placeholder="Search keywords..." 
			    	uib-typeahead="tagPart for tagPart in getTags($viewValue)" typeahead-loading="loadingTags" typeahead-no-results="noResults" class="form-control">
			    <i ng-show="loadingTags" class="glyphicon glyphicon-refresh"></i>
			    <div ng-show="noResults">
			      <i class="glyphicon glyphicon-remove"></i> No Results Found
			    </div>
			  </div>
			  <div class="col-md-4"></div>
			</div>		
		</div>
      </div>
    </div>
</div>